/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

/* Estilos do Carousel */
.carousel {
    display: flex;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: auto;
    transition: transform 1s;
}

/* Estilos do formulário */
form {
    max-width: 400px;
    margin: 0 auto;
}

label,
input,
textarea,
button {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
